.parent {
    margin-top:48px;
}

.picture {
    border: 5px solid #ccc;
    padding: 25px;
    color: white;
    border-style: solid;
    border-radius: 25px;
    background-color: white;
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    text-align:center;

}
