.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
    
.nav li {
    float: left;
}
    
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
.nav li a:hover {
    background-color: #111;
}

body { 
    background: url(assets/crysistest.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}