<div class = 'nav'>
<ul>
		    <li><a class="active" href="home.php">Home</a></li>
			<li><a href="#cat">Categories</a></li>
            <li><a href="#art">Artists</a></li>
			<li><a href="trending.php">Trending</a></li>
			<li><a href="user/userprofilepage.php">Profile</a></li>
</ul>
</div>
